PORT=4000
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sgia_dev
DB_USER=sgia_user
DB_PASSWORD=Sgia@2026!
DB_POOL_MIN=2
DB_POOL_MAX=10
JWT_SECRET=cambia_esto_por_un_secret_de_minimo_64_caracteres_muy_seguro
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=noreply@sgia.com
SMTP_PASS=tu_app_password
FRONTEND_URL=http://localhost:3000
BCRYPT_ROUNDS=12
